<% include ./partials/header %>
  <body>
    <nav
      class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light"
      id="ftco-navbar"
    >
      <div class="container">
        <a class="navbar-brand" href="/">Brooks</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#ftco-nav"
          aria-controls="ftco-nav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="oi oi-menu"></span> Menu
        </button>

        <div class="collapse navbar-collapse" id="ftco-nav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a href="/" class="nav-link">Home</a>
            </li>
            <li class="nav-item active">
              <a href="/about" class="nav-link">About</a>
            </li>
            <li class="nav-item">
              <a href="/agent" class="nav-link">Agent</a>
            </li>
            <li class="nav-item">
              <a href="/service" class="nav-link">Services</a>
            </li>
            <li class="nav-item">
              <a href="/property" class="nav-link">Properties</a>
            </li>
            <li class="nav-item">
              <a href="/blog" class="nav-link">Blog</a>
            </li>
            <li class="nav-item">
              <a href="/contact" class="nav-link">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- END nav -->

    <section
      class="hero-wrap hero-wrap-2 ftco-degree-bg js-fullheight"
      style="background-image: url('images/bg_1.jpg');"
      data-stellar-background-ratio="0.5"
    >
      <div class="overlay"></div>
      <div class="container">
        <div
          class="row no-gutters slider-text js-fullheight align-items-center justify-content-center"
        >
          <div class="col-md-9 ftco-animate pb-5 text-center">
            <p class="breadcrumbs">
              <span class="mr-2"
                ><a href="index.html"
                  >Home <i class="ion-ios-arrow-forward"></i></a
              ></span>
              <span>About us <i class="ion-ios-arrow-forward"></i></span>
            </p>
            <h1 class="mb-3 bread">About Us</h1>
          </div>
        </div>
      </div>
    </section>

    <section class="ftco-section ftco-no-pb">
      <div class="container">
        <div class="row no-gutters">
          <div
            class="col-md-6 p-md-5 img img-2 d-flex justify-content-center align-items-center"
            style="background-image: url(images/people-dancing.jpg);"
          ></div>
          <div class="col-md-6 wrap-about py-md-5 ftco-animate">
            <div class="heading-section p-md-5">
              <h2 class="mb-4">We Put People First.</h2>

              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis molestias deserunt mollitia assumenda, totam minus alias esse error libero saepe!
              </p>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi itaque delectus saepe reprehenderit, qui veritatis? Labore a ab nisi cum qui explicabo quis? Nam, soluta ea consequatur quidem eveniet saepe! Quaerat ipsam voluptas rerum ab aperiam amet nobis sed ullam ea repellendus, rem illo, expedita dolorum nisi cum ut consectetur?
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="ftco-counter img" id="section-counter">
      <div class="container">
        <div class="row">
          <div
            class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate"
          >
            <div class="block-18 py-4 mb-4">
              <div class="text text-border d-flex align-items-center">
                <strong class="number" data-number="305">0</strong>
                <span>Area <br />Population</span>
              </div>
            </div>
          </div>
          <div
            class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate"
          >
            <div class="block-18 py-4 mb-4">
              <div class="text text-border d-flex align-items-center">
                <strong class="number" data-number="1090">0</strong>
                <span>Total <br />Properties</span>
              </div>
            </div>
          </div>
          <div
            class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate"
          >
            <div class="block-18 py-4 mb-4">
              <div class="text text-border d-flex align-items-center">
                <strong class="number" data-number="209">0</strong>
                <span>Average <br />House</span>
              </div>
            </div>
          </div>
          <div
            class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate"
          >
            <div class="block-18 py-4 mb-4">
              <div class="text d-flex align-items-center">
                <strong class="number" data-number="67">0</strong>
                <span>Total <br />Branches</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="ftco-section testimony-section">
      <div class="container">
        <div class="row justify-content-center mb-5">
          <div class="col-md-7 text-center heading-section ftco-animate">
            <span class="subheading">Testimonial</span>
            <h2 class="mb-3">Happy Clients</h2>
          </div>
        </div>
        <div class="row ftco-animate">
          <div class="col-md-12">
            <div class="carousel-testimony owl-carousel ftco-owl">
              <div class="item">
                <div class="testimony-wrap py-4">
                  <div class="text">
                    <p class="mb-4">
                      Lorem ipsum, dolor sit amet consectetur adipisicing elit. At quis, saepe repellendus veritatis ipsam quod vero mollitia ullam perspiciatis necessitatibus?
                    </p>
                    <div class="d-flex align-items-center">
                      <div
                        class="user-img"
                        style="background-image: url(images/person_1.jpg)"
                      ></div>
                      <div class="pl-3">
                        <p class="name">Roger Scott</p>
                        <span class="position">Marketing Manager</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap py-4">
                  <div class="text">
                    <p class="mb-4">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis voluptatem exercitationem minus porro tempora repudiandae est aspernatur veniam deserunt aliquam?
                    </p>
                    <div class="d-flex align-items-center">
                      <div
                        class="user-img"
                        style="background-image: url(images/person_2.jpg)"
                      ></div>
                      <div class="pl-3">
                        <p class="name">Roger Scott</p>
                        <span class="position">Marketing Manager</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap py-4">
                  <div class="text">
                    <p class="mb-4">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam facere, quam vel blanditiis itaque mollitia modi accusantium ab culpa nam?
                    </p>
                    <div class="d-flex align-items-center">
                      <div
                        class="user-img"
                        style="background-image: url(images/person_3.jpg)"
                      ></div>
                      <div class="pl-3">
                        <p class="name">Roger Scott</p>
                        <span class="position">Marketing Manager</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap py-4">
                  <div class="text">
                    <p class="mb-4">
                      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima, blanditiis ipsa quis nobis sapiente possimus voluptatibus perspiciatis deleniti aut culpa?
                    </p>
                    <div class="d-flex align-items-center">
                      <div
                        class="user-img"
                        style="background-image: url(images/person_1.jpg)"
                      ></div>
                      <div class="pl-3">
                        <p class="name">Roger Scott</p>
                        <span class="position">Marketing Manager</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap py-4">
                  <div class="text">
                    <p class="mb-4">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque iste dolorum perferendis laboriosam adipisci ipsum incidunt est provident ea magni!
                    </p>
                    <div class="d-flex align-items-center">
                      <div
                        class="user-img"
                        style="background-image: url(images/person_2.jpg)"
                      ></div>
                      <div class="pl-3">
                        <p class="name">Roger Scott</p>
                        <span class="position">Marketing Manager</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <% include ./partials/footer %>